@page
@{
    ViewData["Title"] = "Listing Submitted";
}

<div class="alert alert-success mt-5">
    <h4>Your property listing has been submitted!</h4>
    <p>It is now pending review by an administrator. You will be notified once it is approved or if further information is required.</p>
    <a asp-page="/Index" class="btn btn-primary mt-3">Return to Home</a>
</div>
