
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="about-us-img-wrap about-img-left">
                    <img src="/images/about_us.jpg" alt="About Us Image">
                    <div class="about-us-img-info about-us-img-info-2 about-us-img-info-3">

                        @*             <div class="ltn__video-img ltn__animation-pulse1">
                        <img src="/themes/quarter/img/others/8.png" alt="video popup bg image">
                        <a class="ltn__video-icon-2 ltn__video-icon-2-border---" href="https://www.youtube.com/embed/X7R-q9rsrtU?autoplay=1&showinfo=0" data-rel="lightcase:myCollection">
                        <i class="fa fa-play"></i>
                        </a>
                        </div> *@
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="about-us-info-wrap">
                    <div class="section-title-area ltn__section-title-2--- mb-20">
                        <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">About Us</h6>
                        <h1 class="section-title">
                        For those who seek opulence<span>.</span>
                        </h1>
                        <p>
                        We offer unparalleled luxury and unique opportunities to
                        discover exclusive properties designed for discerning individuals who desire the
                        finest in living and investment opportunities. Experience the pinnacle of elegance
                        and sophistication with us.
                        </p>
                    </div>
                    <ul class="ltn__list-item-half clearfix">
                        <li>
                            <i class="flaticon-home-2"></i>
                            Smart Home Design
                        </li>
                        <li>
                            <i class="flaticon-mountain"></i>
                            Beautiful Scene Around
                        </li>
                        <li>
                            <i class="flaticon-heart"></i>
                            Exceptional Lifestyle
                        </li>
                        <li>
                            <i class="flaticon-secure"></i>
                            Complete 24/7 Security
                        </li>
                    </ul>
                    <div class="ltn__callout bg-overlay-theme-05  mt-30">
                        <p>
                            "Join us today, and experience the difference with a team that is passionate, driven by legacy,
                            and committed to making luxury affordable for you because your desire is our passion!"
                        </p>
                    </div>
                    <div class="btn-wrapper animated">
                        <a href="#" class="theme-btn-1 btn btn-effect-1">OUR SERVICES</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
