@page
@model SteadyGrowth.Web.Areas.Membership.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<div class="d-flex flex-column flex-center flex-column-fluid">
    <div class="d-flex flex-column flex-center text-center p-10">
        <div class="card card-flush w-lg-650px py-5">
            <div class="card-body py-15 py-lg-20">
                <h1 class="fw-bolder fs-2hx text-gray-900 mb-4">Access Denied</h1>
                <div class="fw-semibold fs-6 text-gray-500 mb-7">
                    You do not have permission to view this page.
                </div>
                <div class="mb-11">
                    <img src="/themes/metronic/v8_2/assets/media/auth/403-error.png" class="mw-100 mh-300px theme-light-show" alt="" />
                    <img src="/themes/metronic/v8_2/assets/media/auth/403-error-dark.png" class="mw-100 mh-300px theme-dark-show" alt="" />
                </div>
                <div class="mb-0">
                    <a href="/Membership/Dashboard" class="btn btn-sm btn-primary">Return to Dashboard</a>
                </div>
            </div>
        </div>
    </div>
</div>
