@page
@model SteadyGrowth.Web.Pages.ServicesModel
@{
    ViewData["Title"] = "Our Services";
}



<!-- ABOUT US AREA START -->
<div class="ltn__about-us-area pb-115">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 align-self-center">
                <div class="about-us-img-wrap ltn__img-shape-left  about-img-left">
                    <img src="/themes/quarter/img/service/11.jpg" alt="Image">
                </div>
            </div>
            <div class="col-lg-7 align-self-center">
                <div class="about-us-info-wrap">
                    <div class="section-title-area ltn__section-title-2--- mb-20">
                        <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Services</h6>
                        <h1 class="section-title">
                            PROPERTY DEVELOPMENT<span>.</span>
                        </h1>
                        <p>
                            At SteadyGrowth properties, we pride ourselves in creating unique and sustainable properties
                            that set new benchmarks in design, quality, and sustainability globally. Our comprehensive
                            property development services cover every aspect, from initial concept to final handover.
                            Our team of award-winning architects and designers are on ground to ensure that every project
                            is sustainable, aesthetically pleasing and functional.Our approach also involves green building
                            techniques to ensure environmentally responsible homes.
                        </p>
                    </div>

                    <div class="btn-wrapper animated">
                        <a asp-page="/About" class="theme-btn-1 btn btn-effect-1 text-uppercase">About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ABOUT US AREA END -->
<!-- SERVICE AREA START (Service 1) -->
<div class="ltn__service-area section-bg-1 pt-115 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2--- text-center">
                    <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Our Services</h6>
                    <h1 class="section-title">Our Core Services</h1>
                </div>
            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1">
                    <div class="ltn__feature-icon">
                        <span><i class="flaticon-house"></i></span>
                        <!-- <img src="img/icons/icon-img/21.png" alt="#"> -->
                    </div>
                    <div class="ltn__feature-info">
                        <h3><a href="#">LAND BANKING</a></h3>
                        <p>
                            Unlock the potential of prime real estate with our expert land banking services. At
                            SteadyGrowth, we help you invest in strategically positioned land parcels in Abuja that promises
                            high returns.
                        </p>
                        <a class="ltn__service-btn" href="#">Find Out More <i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1">
                    <div class="ltn__feature-icon">
                        <span><i class="flaticon-mortgage"></i></span>
                        <!-- <img src="img/icons/icon-img/21.png" alt="#"> -->
                    </div>
                    <div class="ltn__feature-info">
                        <h3><a href="#">BROKERAGE</a></h3>
                        <p>
                            Experience seamless real estate transactions with our premium brokerage services. Whether
                            you are looking to buy or sell a property or obtain a mortgage, Our expert brokers offer
                            ...
                        </p>
                        <a class="ltn__service-btn" href="#">Find Out More <i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1">
                    <div class="ltn__feature-icon">
                        <span><i class="flaticon-operator"></i></span>
                        <!-- <img src="img/icons/icon-img/21.png" alt="#"> -->
                    </div>
                    <div class="ltn__feature-info">
                        <h3><a href="#">SHORTLET</a></h3>
                        <p>
                            For those who seek to unwind in style, experience true comfort and serenity with our luxurious
                            short let apartments. Whether you're a tourist, business traveler or you just want to...
                        </p>
                        <a class="ltn__service-btn" href="#">Find Out More <i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- SERVICE AREA END -->
